
###> symfony/framework-bundle ###
./app/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
./var/*
./app/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
./app/.phpunit.result.cache
./app/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
./app/phpunit.xml
./app/.phpunit.result.cache
###< phpunit/phpunit ###